<!DOCTYPE html>
<html>
    <head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="underscore.js"></script>
	<script type="text/javascript" src="backbone.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
	 <script type="text/template" id="player1-template">
	    <div class="clock">
		<div class="time"><%= player_1_time_remaining%>20:00</div>
		<div class="name"><%= player_1_name %>JA</div>
	    </div>
	 </script>
	<script type="text/template" id="player2-template">
	    <div class="clock">
		<div class="time"><%= player_2_time_remaining%>20:00</div>
		<div class="name"><%= player_2_name %>JA2</div>
	    </div>
	 </script>
    </body>
</html>
