body{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0;
  padding:0;
  border:0;
}
.player{	
    top: 40%;
    font-size: 36px;
    color: #d14;
    font-weight: bold;
    position:absolute;
    width:50%;
    display:inline-block;
    text-align: center;
    margin: 0;
    line-height: 36px;
    
}

#player2{
    left:50%;
}

.current{
    color: #51a351;
    font-weight: bold;
}

.time{
    vertical-align:middle;
}