body{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0;
  padding:0;
  border:0;
}
.player{	
    position:absolute;
    width:50%;
    height:100%;
    display:inline-block;
    text-align: center;
    background-color:#CCC;
    margin: 0;
    
}

#player2{
    left:50%;
}

.name{
    text-align: center;
    vertical-align:middle;
}

.time{
    vertical-align:middle;
}